params {

    data = 's3://lifebit-featured-datasets/pipelines/gwas/testdata/sample-batch-site.phe'
    pheno = "PHE"
    input_dir = 's3://lifebit-featured-datasets/pipelines/gwas/testdata'
    input_pat = "sampleA"
    covariates = "SEX,batch"

    max_cpus = 2
    max_memory = 4.GB
    max_plink_cores = check_max(4, 'cpus')
}